.grid {
	width: 100%;
	aspect-ratio: 1;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc((100% - #{rem(4px)}) / 3));
	grid-template-rows: auto;
	gap: rem(2px);
	border: rem(2px) solid #000;
	background-color: #000;
	counter-reset: guy;
	font-size: clamp(#{rem(6px)}, 1.875vw, #{rem(16px)});

	& > li {
		aspect-ratio: 1 / 1;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background-color: $color-purple;
		counter-increment: guy;

		&:nth-child(2n) {
			background-color: $color-green;
		}

		&::before {
			content: counter(guy);
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			display: flex;
			align-items: center;
			justify-content: center;
			color: rgba(255, 255, 255, 0.2);
			font-weight: bold;
			font-size: em(180px);
			line-height: 1;
		}
	}

	a {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: em(8px, 32px);
		color: #fff;
		font-size: em(32px);
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color ease-out 0.3s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.25);
		}
	}
}
