.row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media only screen and (min-width: $desktop-min) {
		flex-direction: row;
		min-height: 100vh;
	}
}

.col {
	padding: rem(16px);

	@media only screen and (min-width: $desktop-min) {
		width: 50%;
	}
}

header {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
}