.type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	counter-increment: type;
	padding-top: rem(32px);
	padding-bottom: rem(64px);

	@media only screen and (min-width: $desktop-min) {
		min-height: 100vh;
	}

	h2 {
		font-size: rem(32px);

		&::before {
			content: '#' counter(type) ': ';
		}
	}

	.notes {
		font-size: rem(12px);
		margin-top: rem(16px);
	}
}
