//
// Colors
//
$color-gray: #333;
$color-purple: #7e5aa6;
$color-green: #0e6c37;

//
// Media queries
//
$desktop-min: rem(1024px);
$desktop-max: rem(1023px);
$mobile-min: rem(481px);
$mobile-max: rem(480px);
